<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString"
		     connectionString="Data Source=DESKTOP-DFTT9LE\SQLSERVER2008;initial catalog=TableDependencyDB;User ID=Test_User;Password=Casadolcecasa1"
		     providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>