<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="SqlServer2008 Test_User" connectionString="Data Source=DESKTOP-DFTT9LE\SQLSERVER2008;initial catalog=TableDependencyDB;User ID=Test_User;Password=Casadolcecasa1" providerName="System.Data.SqlClient"/>
    <add name="SQLServer2008 sa" connectionString="Data Source=DESKTOP-DFTT9LE\SQLSERVER2008;initial catalog=TableDependencyDB;User ID=sa;Password=Casadolcecasa1" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

</configuration>