<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString"
        connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT= 1521)))(CONNECT_DATA=(SERVICE_NAME = XE)));User Id=SYSTEM;password=tiger;"
        providerName="Oracle.DataAccess.Client"/>
	</connectionStrings>

	<appSettings>
		<add key="tableName" value="AAA"/>
	</appSettings>
</configuration>