<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
    <add name="connectionString" connectionString="data source=.;initial catalog=TableDependencyDB;integrated security=False; User ID=Test_User;Password=Casadolcecasa1" providerName="System.Data.SqlClient" />
    <!--<add name="connectionString" connectionString="Data Source=172.16.20.22;Initial Catalog=ticketino_lycee;Integrated Security=False;User ID=ticketinostandard;Password=proxim$123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;Application Name=SqlTableDependency;ApplicationIntent=ReadWrite"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
